<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939302248362-anoc5ljbu1cfe21pas5e3qklncthdk57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939302248362-anoc5ljbu1cfe21pas5e3qklncthdk57</string>
	<key>API_KEY</key>
	<string>AIzaSyAIH4bVduhYYY3m5fvrKcu6My75HhFfg5A</string>
	<key>GCM_SENDER_ID</key>
	<string>939302248362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thehunt</string>
	<key>PROJECT_ID</key>
	<string>treasurehunt-flutter-spanmart</string>
	<key>STORAGE_BUCKET</key>
	<string>treasurehunt-flutter-spanmart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939302248362:ios:522da2337b592f9e1cd5d3</string>
</dict>
</plist>